/* Aksara Page */
.icon-aksara-style {
    font-size: 35px !important;
}

.aksara-card-style {
    margin-right:0 !important; 
    width: 7rem !important; 
    height: 7rem !important;
}

.aksara-font {
    font-family: 'Noto Sans Sundanese' !important;
}

.fa.fa-hover-hidden {
    color: #b8b8b8;
}

.fa.fa-hover-show {
    color: orange;
}
  
* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}
  
*:hover > .fa.fa-hover-show {
      display: inline-block;
}

@media(max-width:992px) {
    .icon-aksara-style {
        font-size: 28px !important;
    }

    .aksara-card-style {
        margin-right:0 !important; 
        width: 6rem !important; 
        height: 6rem !important;
    }

    .aksara-font {
        font-size: 22pt !important;
    }

    .card-text-aksara-style {
        font-size: 10pt !important;
    }
    
}

@media(max-width:768px) {
    .icon-aksara-style {
        font-size: 28px !important;
    }

    .aksara-card-style {
        margin-right:0 !important; 
        width: 5rem !important; 
        height: 5rem !important;
    }

    .aksara-font {
        font-size: 22pt !important;
    }

    .card-text-aksara-style {
        font-size: 10pt !important;
    }
    
}

@media(max-width:576px) {
    .icon-aksara-style {
        font-size: 25px !important;
    }

    .row-card-aksara-style {
        padding-left: 7% !important;
    }

    .aksara-card-style {
        margin-right:0 !important; 
        width: 5rem !important; 
        height: 5rem !important;
    }

    .aksara-font {
        font-size: 13pt !important;
    }

    .card-text-aksara-style {
        font-size: 7pt !important;
    }
    
}

@media(max-width:420px) {
    .icon-aksara-style {
        font-size: 25px !important;
    }

    .aksara-card-style {
        margin-right:0 !important; 
        width: 4rem !important; 
        height: 4rem !important;
    }

    .aksara-font {
        font-size: 13pt !important;
    }

    .card-text-aksara-style {
        font-size: 7pt !important;
    }
    
}