@font-face {
    font-family: 'Futura Hv';
    font-style: normal;
    src: url('/fonts/Futura Hv BT.ttf');
}

@font-face {
    font-family: 'Futura Lt';
    font-style: normal;
    src: url('/fonts/Futura Lt BT.ttf');
}

p, .next-back-button {
    font-family: 'Futura Hv' !important;
}

.next-back-button {
    border-top: 2px solid #b8b8b8;
}

.progress-game {
    font-family: 'Futura Hv' !important;
    background-color: #2AC386 !important;
}

.carousel-exercise-style {
    height: 460px;
    min-height: calc(60vh - 50px - 50px)
}

.sticky-footer-style {
    position: sticky !important;
    top: 100%;
}

.game-image-style {
    width: 50px;
}

.aksara-question p{
    font-family: 'Noto Sans Sundanese' !important;
}

.answer-question {
    font-family: 'Futura Lt' !important;
}

.button-game-undo {
    color: white !important;
    background-color: orange !important;    
}

.button-game-play {
    font-size: 16px !important;
    padding: 12px 26px !important;
}

.button-game-lanjut {
    color: white !important;
    background-color: #2AC386 !important;
    border: none !important;
    transition-duration: 0.4s !important;
}

.button-game-lanjut:hover {
    background-color: #1E7B56 !important;
    color: white !important;
}

.row-anskey-style{
    margin-left: 8% !important;
}

.text-left{
    text-align: left !important;
}


/* complete game page */
.complete-game-style {
    width: 35% !important;
}

.centered-items {
    text-align: center;
}

.yellow-bold-text{
    font-family: 'Futura Hv' !important;
    color: orange;
}

.info-rewards {
    width: 85% !important;
    margin: auto;
}

.reward-complete {
    font-size: 16pt !important;
}

.col-descript-complete {
    text-align: left;
}

.col-reward-complete {
    text-align: right;
}

.perolehan-text {
    font-size: 16pt !important;
}

.blue-thin-text {
    font-size: 15pt;
    font-family: 'Futura Lt' !important;
    color: #30D5C8;
}

/* Resize text complete page */
/* extra large */
@media(max-width:1200px){
    .complete-game-style {
        width: 45% !important;
    }
}

/* large */
@media(max-width:992px){
    .complete-game-style {
        width: 50% !important;
    }

    .perolehan-text {
        font-size: 16pt !important;
    }
}

/* medium */
@media(max-width:720px) {
    .complete-game-style {
        width: 55% !important;
    }

    .yellow-bold-text {
        font-size: 18pt !important;
    }

    .perolehan-text {
        font-size: 14pt !important;
    }

    .blue-thin-text {
        font-size: 11pt !important;
    }

    .reward-complete {
        font-size: 11pt !important;
    }
}


/* Canvas ingame */
.canvas-aksara {
    background-repeat: no-repeat;
    background-position: center;
}

.canvas {
    border: 3px solid orange;
    background-color: rgb(255, 255, 255, 0.2);
}

/* Popup card */
.modal-style-card{
    width: 18rem !important;
    margin: auto !important; 
}

.modal-style-card-body {
    text-align: center !important;
}