/* Fonts */
@font-face {
    font-family: 'Futura Hv';
    font-style: normal;
    src: url('/fonts/Futura Hv BT.ttf');
}

@font-face {
    font-family: 'Futura Lt';
    font-style: normal;
    src: url('/fonts/Futura Lt BT.ttf');
}

/* Font */
nav .nav-item .nav-link .navbar-brand{
    font-family: 'Futura Hv' !important;
    color: #b8b8b8 !important;
}

body, h1, h2,h3 {
    font-family: 'Futura Hv' !important;
}

p {
    font-family: 'Futura Lt' !important;
}

.fa-solid {
    width: 50px;
}

/* Style */
.span-navbar-style {
    color: orange;
}

.dropdown-toggle {
    color: orange !important;
}

.toggler-navbar-style{
    border: none !important;
}

.navbar-collapse-style {
    flex-direction: column;
}

.navbar-style {
    width: 100%;
}

.active-dlink-style {
    color: #b8b8b8 !important;
}

.active-dlink-style:hover {
    color: #707070 !important;
}

.nav-main-style {
    color: #b8b8b8 !important;
}

.nav-main-style:hover {
    color: #707070 !important;
}

.nav-main-style.active {
    color: orange !important;
    border-bottom: 5px solid orange !important;
}

.active-dlink-style.active {
    color: orange !important;
    border-bottom: none !important;
}

.star-navbar {
    font-family: 'Futura Hv' !important;
    text-align: right !important;
    color: gold !important;
}

.logout-navbar {
    margin-right: 5px !important;
    text-align: right;
}

.text-left-dd-style {
    text-align: left !important;
}

.dlink-button-style {
    padding-top: 10px !important;
    color: #f1a7a7 !important;
    border: none !important;
    background: none !important;
    padding-left: 2px !important;
}

.dlink-button-style:hover {
    color: #e34f4f !important;
}

.follow-style-button {
    padding: 3px 10px;
    font-size: 15px;
}

/* Login and Register Page Style */
.login-navbar-style {
    color: #b8b8b8 !important;
    justify-content: right !important;
}

.login-navbar-style:hover {
    color: orange !important;
}

/* Home Page Style */
.shadow-style {
    border: 1px 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.427) !important;
}

.photo-figure-rank {
    width: 50px;
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
}

.descrank-user-name p {
    justify-content: left !important;
}

.medal-images{
    width: 100%;
    height: 100%;
}

.medal-images .img-thumbnail-medal {
    border-style: none;
    width: 150px;
    height: 150px;
}

.card-profile-style {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.427)), url('../images/backgroundprofile.jpg'); 
}

.profile-picture-style {
    width: 135px !important;
    height: 135px !important;
}

.profile-picture-background-style{
    width: 130px !important;
}

.photo-figure {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

.profile_icon_style {
    width: 23px; 
    height: 25px;
}

.btn-pp-style{
    bottom: 0 !important;
    right: 0 !important;
}

.card-title-profile {
    color: white !important;
}

.card-level-complete-style {
    height: 6rem !important;
}

.card-title-level-complete-style{
    font-size: 13pt !important;
}

.card-text-level-complete-style{
    font-size: 10pt !important;
}

.level-game-style {
    color: white !important;
    border: 1px 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.level-image-style {
    width: 50%;
}

.locked-game-style {
    color: white !important;
}

@media(max-width:992px) {
    .card-profile-style {
        width: 90%;
        height: 90%;
    }

    .profile-picture-style {
        width: 135px !important;
        height: 135px !important;
    }

    .profile-picture-background-style{
        width: 110px !important;
    }

    .profile_icon_style {
        width: 17px !important; 
        height: 19px !important;
    }

    .card-level-complete-style {
        height: 80px !important;
    }
    
    .card-title-level-complete-style{
        font-size: 12pt !important;
    }

    .card-text-level-complete-style{
        font-size: 10pt !important;
    }

    .level-game-style {
        width: 90%;
    }
}

@media(max-width:768px) {
    .profile-picture-style {
        width: 140px !important;
        height: 140px !important;
    }
}

@media(max-width:576px) {
    .card-profile-style {
        width: 80%;
        height: 80%;
    }

    .profile-picture-style {
        width: 110px !important;
        height: 110px !important;
    }

    .profile-picture-background-style{
        width: 100px !important;
    }

    .btn-pp-style{
        bottom: 0 !important;
        right: 30% !important;
    }
    
    .profile_icon_style {
        width: 15px !important; 
        height: 17px !important;
    }

    .card-title-level-complete-style{
        font-size: 10pt !important;
    }
    
    .card-text-level-complete-style{
        font-size: 8pt !important;
    }

    .card-title-profile{
        font-size: 10pt !important;
    }

    .title-permainan-style {
        font-size: 16pt !important;
    }

    .level-game-style {
        width: 80%;
        height: 70px !important;
    }

    .fa-circle-play {
        font-size: 20pt !important;
    }

    .level-name-style {
        font-size: 9pt !important;
    }

    .level-image-style {
        width: 50px !important;
    }
}

@media(max-width:470px) {
    .btn-pp-style{
        bottom: 0 !important;
        right: 23% !important;
    }
}

/* Popup card */
.custom-file-input-style {
    border: 1px solid #b8b8b8;;
    font-family: 'Futura Hv' !important;
}

.modal-style-card{
    width: 18rem !important;
    margin: auto !important; 
}

.modal-style-card-body {
    text-align: center !important;
}