/* Store Page */
.card-store-frame {
    background-color: rgba(254, 181, 72, 0.18) !important;
    width: 11rem; 
    height: 17rem; 
    padding: 5px;
    
}

.card-body-frame {
    padding: 4px !important;
}

.card-text-store-style {
    font-family: 'Futura Hv' !important;
    font-size: 12pt;
    color: orange !important;
    padding-bottom: 0.4cm;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.card-text-store-style::placeholder {
    color: orange;
}

.button-use-purchase-frame
{
    display: flex;
    align-items: center !important;
    justify-content: flex-end;
}

.btn-purchase-frame {
    font-size: 10pt !important;
    color: orange !important;
    border-color: orange !important;
}

.btn-purchase-frame:hover {
    background-color: orange !important;
    color: white !important;
}

.fa-star-store{
    width:20px;
    margin-left: 3px;
}

.card-text-store-status {
    font-family: 'Futura Hv' !important;
    font-size: 10pt;
    margin-top: 7px;
    color: orange;
}

@media(max-width:576px) {
    .card-store-frame {
        width: 7rem; 
        height: 13rem; 
        padding: 5px;
        
    }

    .card-text-store-style {
        font-size: 7pt !important;
    }

    .btn-purchase-frame {
        font-size: 7pt !important;
    }

    .fa-star-store {
        margin-left: 0px !important;
    }

    .button-use-purchase-frame{
        margin-top: 5px !important;
    }

    .card-text-store-status {
        margin-bottom: 0px !important;
        font-size: 7pt;
    }
}